<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1312210 - CV</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/myStyle.css" rel="stylesheet">
	<script src="javascript/angular.min.js" type="text/javascript"></script>
	<script src="javascript/myScript.js" type="text/javascript"></script>
  </head>
  <body ng-app="myCV">
	<nav class="navbar navbar-fixed-top container-fluid">
		<ul class="nav">
				<li><a href="#summary">Summary</a></li>
				<li><a href="#experience">Experience</a></li>
				<li><a href="#project">Project</a></li>
				<li><a href="#skills">Skill</a></li>
				<li><a href="#education">Education</a></li>
		</ul>
	</nav>
	<div class="body">		
		<div class="aboutMe container-fluid" ng-controller="getAboutMe">
			<div class="row">
				<div class="col-xs-6">
					<img class="img-responsive" src="{{result.Image}}">
				</div>
				<div class="col-xs-6" style="vertical-align: middle;" >
					<p class="name">{{result.Name}}</p>
					<p>
						<span class="glyphicon glyphicon-flag"></span> {{result.Country}} <br/>
						<span class="glyphicon glyphicon-briefcase"></span> {{result.Major}} <br/>
						<span class="glyphicon glyphicon-phone"></span> {{result.Mobile}} <br/>
						<span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{result.Email}}"> {{result.Email}} </a>				
					</p>
				</div>
			</div>
		</div>
		
		<div class="whiteSection container-fluid" id="summary" ng-controller="getSummary">
			<p class="label">
			<span class="glyphicon glyphicon-star"></span>
			summary
			<span class="glyphicon glyphicon-star"></span></p>
			<p>
			<span ng-repeat="item in result">
				item.value = <input ng-model = "item.value"/> <br/>
				{{item.value}} <br/>
			</span>
			</p>
		</div>
		
		<div class="greenSection container-fluid" id="experience" ng-controller="getExperience">
			<p class="label">
			<span class="glyphicon glyphicon-star"></span>
			Experience
			<span class="glyphicon glyphicon-star"></span></p>
			<div class="timeline">
				<div class="row" ng-repeat="item in result">
					<div class="year">{{item.year}}</div>
					<span class="glyphicon glyphicon-flag icon"></span>
					<div class="event">
						<p class="job">{{item.job}}</p>
						Working at {{item.place}} <br/>
						<strong>My main tasks are:</strong>
						<ul ng-repeat="subitem in item.tasks">
							<li>{{subitem.value}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="whiteSection container-fluid" id="project" ng-controller="getProject">
			<p class="label">
			<span class="glyphicon glyphicon-star"></span>
			Project
			<span class="glyphicon glyphicon-star"></span></p>
			<div class="projects" >
				<div ng-repeat="item in result | filter:query as filtered">
					<div class="col-md-4">
						<img src="{{item.url}}">
						<div class="name">{{item.name}}</div>
						<br ng-if="$index === 2"/>
					</div>
				</div>
				<div>
				</div>
			</div>
		</div>
		
		<div class="greenSection container-fluid" id="skills" ng-controller="getSkill">
			<p class="label">
			<span class="glyphicon glyphicon-star"></span>
			Skill
			<span class="glyphicon glyphicon-star"></span></p>
			<div class="skill">
				<div class="row" ng-repeat="item in result">
					<div class="progressLabel col-sm-2">{{item.name}}</div>
					<div class="col-sm-10">
						<div class="progress">
							<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{item.exp}}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="whiteSection container-fluid" id="education" ng-controller="getEducation">
			<p class="label">
			<span class="glyphicon glyphicon-star"></span>
			Education
			<span class="glyphicon glyphicon-star"></span></p>
			<div class="timeline">
				<div class="row" ng-repeat="item in result">
					<div class="year">{{item.year}}</div>
					<span class="glyphicon glyphicon-flag icon"></span>
					<div class="event">
						<p class="job">{{item.job}}</p>
						Study at: {{item.place}} <br/>
						<ul ng-repeat="subitem in item.data">
							<li>{{subitem.value}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer" ng-controller="getAboutMe">
		{{result.Name}} - Copyright &copy; 2016 - All rights reserved
	</div>
  </body>
</html>